@import "tailwindcss";
@theme{
    --color-main-color: #004987;
    --color-second: #1B79A8;
    --color-bgPrimary: #f7f8f9;
    --color-textPrimay : #333;
}

.navlink{
    @apply text-textPrimay hover:text-main-color font-semibold
}

.main-btn{
    @apply bg-main-color text-white py-2 px-4 lg:py-3 lg:px-5 rounded-sm 
    hover:bg-second
}
.main-title{
    @apply text-2xl md:text-3xl mb-3 md:mb-6 font-semibold
}

p{
    @apply text-textPrimay line-clamp-2
}

.read-more{
    @apply border border-main-color text-main-color py-2 px-3 rounded-sm hover:bg-main-color hover:text-white capitalize
}
.container{
    @apply px-3 md:px-6 mx-auto
}

.breadbx{
    background: url(../src/assets/banner1.jpg);
}

.inputcss{
    @apply border border-stone-200 px-3 py-2 text-sm rounded-sm  w-full hover:border-stone-400 outline-0
}